@charset "UTF-8";

body {
    background-color: rgb(58, 58, 63);
    font: normal 15pt Arial;
}

header {
    text-align: center;
    color: white;
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
    

}

#resposta {
    text-align: center;
    
}
footer {
    text-align: center;
    color: white;
    font-style: italic;
}